@font-face {
  font-family: GeostarFill-Regular;
  src: url(./fonts/GeostarFill-Regular.ttf);
}

@font-face {
  font-family: UnifrakturMaguntia-Regular;
  src: url(./fonts/UnifrakturMaguntia-Regular.ttf);
}

@font-face {
  font-family: Wallpoet-Regular;
  src: url(./fonts/Wallpoet-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Wallpoet-Regular;
}

body {
	height: 100%;
	font-size: 1.8vw;
	background-color: black;
  cursor: url(auto.cur), auto;
}

/* MENUS & LINKS*/

a:link,
a:visited {
	color: #d9d9d9;
	text-decoration: none;
  cursor: url(pointer.cur), pointer;
}

.link:link,
.link:visited {
  color: #00ffff !important;
  text-decoration: underline !important;
  cursor: url(pointer.cur), pointer;
}

.menu {
  display:flex;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: -2.5%;
  text-shadow: 1px 3px 4px #00b38680;
  color: #d9d9d9;
  font-size: 2.2vw;
}

.menu > li {
  display: inline-block;
  flex: 1;
  text-align: center;
  padding-top: 0.75%;
  padding-bottom: 0.75%;
}

.activePage {
  background-color: black;
  text-shadow: none;
  box-shadow: 1px 2px 6px 1px #00b38680;
}

.activePage #homeMenuItem {
  color: #ff00ff;
}

#homeActive {
  border: 2px solid #ff00ff;
}

.activePage #aboutMenuItem {
  color: #9900ff;
}

#aboutActive {
  border: 2px solid #9900ff;
}

.activePage #projectsMenuItem {
  color: #00ffff;
}

#projectsActive {
  border: 2px solid #00ffff;
}

.activePage #contactMenuItem {
  color: #0000ff;
}

#contactActive {
  border: 2px solid #0000ff;
}

/* GENERAL LAYOUT */

.container {
  position:fixed;
  top: 7%;
  left: 7%;
  height: 90%;
  width: 86%;
}

.main {
  border: 2px solid #fc1cfc;
  box-shadow: inset 1px 3px 2px #00b38680, 1px 2px 6px 1px #00b38680;
  height: inherit;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 6%;
  padding-bottom: 3%;
}

.flexWrap {
 display: flex;
 width: 100%;
 height: 100%;
}

/* HOME */

.gradientHome {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff00ff75 10%, #ffffff00 30%);
}


.home {
  display: inline-block;
  position: absolute;
  left: 5%;
  bottom: 20%;
  width: auto;
  font-size: 115px;
  font-weight: bold;
  transform: scale(1, 2.5);
  filter: drop-shadow(8px 5px 3px #00b38670);
  background: linear-gradient(to right, #00ffff, #fc1cfc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.imgHome {
  position: fixed;
  top: 20%;
  max-height: 60%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}


/* ABOUT */

.gradientAbout {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #9900ff75 10%, #ffffff00 30%);
  z-index: -1;
}

.aboutText {
  flex: 1;
  color: white;
  font-size: 1.14vw;
  padding: 0 5%;
  text-align: justify;
  max-height: 100%;
}

.imgAbout {
  flex: 0.6;
  padding: 0 5%;
  object-fit: cover;
}


/* PROJECTS */

.gradientProjects {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #00ffff75 10%, #ffffff00 30%);
}

.titleProjects {
  display: inline-block;
  padding-right: 2%;
  font-size: 3vw;
  font-style: italic;
  transform: scale(1, 2);
  filter: drop-shadow(12px 3px 4px #00b38680);
  background: linear-gradient(39deg, rgba(0,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(0,255,240,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}

.titleProjects a {
  font-family: GeostarFill-Regular;
}

.titleProjects a:hover  {
  background: linear-gradient(39deg, rgba(255,255,255,1) 30%, #ff00ff 50%, rgba(255,255,255,1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}

#performance {
  font-size: 3vw;
}

.text {
  color: white;
  font-size: 1.14vw;
  padding: 5% 0;
  text-align: justify;
}

#face {
 font-size: 0.98vw;
}

.wrapper {
  flex: 1;
  padding-left: 80px;
}

.imgProjectsWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6% 80px 0px 12%;
}

.imgProjectsWrapper a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgProjects {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#newNow {
  width: auto;
  height: auto;
}


/* CONTACT */

.gradientContact {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #0000ff75 10%, #ffffff00 30%);
}

.contact {
  flex: 2;
  color: white;
  font-size: 1.5vw;
  align-self: flex-end;
  padding-bottom: 5%;
  padding-left: 1%;
}

.imgContact {
  flex: 1;
  height: 90%;
  max-width: 50%;
  object-fit: cover;
  object-position: 100% 0;
  align-self: flex-end;
}

/* IMPRINT */

#imprintTrigger {
  display: inline-block;
}

#imprintTrigger:hover {
  color: #ff00ff;
  cursor: url(pointer.cur), pointer;
}

#imprintModal {
 display: none;
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
 font-size: 0.98vw;
 background-color: black;
 border: 2px solid #0000ff75;
 margin: 5% auto; /* 15% from the top and centered */
 padding: 20px;
 width: 80%; /* Could be more or less, depending on screen size */
}

.close {
 color: white;
 float: right;
 margin-right: 20px;
 font-size: 3vw;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: #ff00ff;
 text-decoration: none;
 cursor: url(pointer.cur), pointer;
}

.TXTME {
  position: absolute;
  right: 35%;
  top: 5%;
  font-size: 4vw;
  font-style: italic;
  font-family: GeostarFill;
  transform: scale(1, 1.5);
  filter: drop-shadow(12px 3px 4px #00b38680);
  background: linear-gradient(40deg, rgba(140,36,218,1) 30%, rgba(0,255,240,1) 50%, rgba(67,62,205,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* SLIDESHOW */

.slides {
  display: none;
  height: 100%;
}

.prev, .next {
  cursor: url(pointer.cur), pointer;
  position: absolute;
  bottom: 75%;
  color: white;
  text-shadow: 1px 0px 4px #00b386;
  font-size: 4vw;
  user-select: none;
  letter-spacing: -20px;
  padding-right: 1.5%;
}

.next {
  text-align: left;
  right: 7%;
}

.prev {
  text-align: left;
  right: 40%;
}

.prev:hover, .next:hover {
  color: #ff00ff;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* MOBILE MENU */

@media screen and (max-width: 600px) {

  .menu li:not(.activePage) {
    display: none;
  }

  .activePage {
    position: relative;
    font-size: 7vw;
    border: none !important;
    background-color: none;
    box-shadow: none;
    padding-left: 40px;
    padding-right: 40px;
  }

  .menu {
    position: absolute;
    flex-direction: column;
    font-size: 6vw;
    top: -20px;
    width: 65%;
    padding: 8px 0;
    background-color: black;
    text-shadow: none;
    box-shadow: 1px 2px 6px 1px #00b38680;
    z-index: 5;
  }

  .main {
    padding-bottom: 0;
    overflow: scroll;
    z-index: 3;
  }

  .container {
    top: 10%;
  }

  .flexWrap {
    overflow: auto;
    flex-direction: column;
    z-index: -1;
  }

  #homeMenu {
    border: 2px solid #ff00ff;
  }

  #aboutMenu {
    border: 2px solid #9900ff;
  }

  #projectsMenu {
    border: 2px solid #00ffff;
  }

  #contactMenu {
    border: 2px solid #0000ff;
  }


@media screen and (max-width: 600px) {

  .invis {
    display: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  #invisWindow {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 4;
  }
}

/* MOBILE HOME */

@media screen and (max-width: 600px) {

  .imgHome {
    left: -60%;
    height: 50%;
    width: auto;
    z-index: -1;
  }

  .home {
    top: 73%;
    font-size: 10.5vw;
    left: 5%;
  }

}

/* MOBILE ABOUT */

@media screen and (max-width: 600px) {

  .aboutText {
    font-size: 5vw;
    letter-spacing: 0.5px;
    padding: 50px 20px;
    text-align: left;
    max-height: none;
  }

  .imgAbout {
    padding: 0;
    z-index: -1
  }

}

/* MOBILE PROJECTS */

@media screen and (max-width: 600px) {


  .wrapper {
    padding: 60px 10px 0px 15px;
  }

  .imgProjectsWrapper {
    padding: 0;
    justify-content: center;
  }

  #newNow {
    width: inherit;
  }

  .text {
    font-size: 15px;
    text-align: left;
  }

  #face {
    font-size: 15px;
    text-align: left;
  }

  .prev, .next {
    position: fixed;
    top: 0%;
    font-size: 12vw;
    padding-right: 7%;
  }

  .prev {
    right: 18%;
  }

  .next {
    right: 2%;
  }

  .titleProjects {
    font-size: 8vw;
  }

  #performance {
    font-size: 6vw;
  }

  #imgPerformance {
    width: auto;
  }

}

/* MOBILE CONTACT */

@media only screen and (max-width: 600px) {

  #wrapContact {
    position: relative;
  }

  .imgContact {
    position: fixed;
    height: 30%;
    width: auto;
    max-width: none;
    margin-top: 13%;
    z-index: 1;
    align-self: center;
  }

  .contact {
    position: relative;
    top: 50%;
    flex: none;
    font-size: 4vw;
    padding-left: 0;
    align-self: center;
  }

}
