* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: GeostarFill-Regular;
  src: url(/Fonts/GeostarFill-Regular.ttf);
}

@font-face {
  font-family: UnifrakturMaguntia-Regular;
  src: url(/Fonts/UnifrakturMaguntia-Regular.ttf);
}

@font-face {
  font-family: Wallpoet-Regular;
  src: url(/Fonts/Wallpoet-Regular.ttf);
}

body {
	height: 100%;
	font-size: 35px;
	color: #fc1cfc;
	background-color: black;
}

a:link,
a:visited {
	color: #fc1cfc;
	text-decoration: none;
}

.container {
  position:fixed;
  top: 5%;
  left: 10%;
  height: 90%;
  width: 80%;
  text-shadow: 1px 3px 2px #00b386;
}

.menu {
  display:flex;
}

.menu > li {
  display: inline-block;
  flex: 1;
  font-family: Wallpoet-Regular;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.questionText {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  height: inherit;
  border: 2px solid #fc1cfc;
  font-size: 150px;
  font-family: UnifrakturMaguntia-Regular;
  text-shadow: none;
  background: linear-gradient(to right, #fc1cfc, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  border: 2px solid #fc1cfc;
  margin-top: -2px;
  height: inherit;
  font-family: GeostarFill-Regular;
  color: white;
  text-align: left;
}

.slideshow {
  border: 2px solid #fc1cfc;
  margin-top: -2px;
  height: inherit;
  padding: 20px 0;
  text-align: center;
}

.activePage {
  border-top: 2px solid #fc1cfc;
  border-left: 2px solid #fc1cfc;
  border-right: 2px solid #fc1cfc;
  border-bottom: 2px solid black;
}

img {
  max-height: 100%;
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  color: #fc1cfc;
  font-size: 70px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  text-align: left;
  right: 10%;
}
.prev {
  text-align: left;
  left: 10%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: white;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
