* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

body {
	height: 1200px;
  	font-size: 18px;
  	font-family: sans-serif;
  	color: #fc1cfc;
	background-color: black;
}

a:link,
a:visited {
  	color: #fc1cfc;
  	text-decoration: none;
}

.

.header {
  	position: fixed;
  	display: flex;
  	justify-content: space-between;
  
  	width: 100%;
	height: auto;
  	padding: 50px;
}
